.DS_Store
compile.sh
binaries/PanelExplorer
binaries/PanelExplorer.exe
binaries/PanelExplorer.Mac-ARM
.vscode
go.work
go.work.sum
PanelExplorer
PanelTopology
Raw Panel Explorer.app/*
build/*
frontend/*
buildAndSign.sh
buildAndSign_fyne.sh
buildAndSign_wails.sh
Raw Panel Explorer (F).app/*
